<nav>
	<a href="/index">Back to Home</a>
	<a href="/admin/products">See All Products</a>
	<a href="/admin/add_product">Add a Product</a>
	<a href="/admin/search">Search Products</a>
</nav>
<table>
	<thead>
		<tr>
			<th>Product ID</th>
			<th>Product Name</th>
			<th>Description</th>
            <th>Price</th>
            <th>Quantity in Stock</th>
		</tr>
	</thead>
	<tbody>
		{{#each data}}
			<tr>
				<td>{{this.productId}}</td>
				<td>{{this.productName}}</td>
				<td>{{this.productDescription}}</td>
                <td>{{this.productPrice}}</td>
                <td>{{this.productQuantity}}</td>
				<td>
					<a href="/admin/edit_product/{{this.id}}">Edit Product</a>
				</td>
				<td>
					<a href="/admin/delete_product/{{this.id}}">Delete Product</a>
				</td>
			</tr>
		{{/each}}
	</tbody>
</table>