  <form method="post" action='/admin/edit_product/{{data.id}}'>
    <table>
      <tbody>
        <tr>
          <th>Product ID: </td>
          <td><input type="text" name="product_id" required
                  value="{{data.productId}}"></td>
        </tr>
        <tr>
          <th>Product Name: </td>
          <td><input type="text" name="product_name" required 
                  value="{{data.productName}}"></td>
        </tr>
        <tr>
          <th>Product Description: </td>
          <td><input type="text" name="product_description" required 
                  value="{{data.productDescription}}"></td>
        </tr>
        <tr>
          <th>Product Price: </td>
          <td><input type="text" name="product_price" required
                  value="{{data.productPrice}}"></td>
        </tr>
        <tr>
          <th>Product Quantity: </td>
          <td><input type="text" name="product_quantity" required
                  value="{{data.productQuantity}}"></td>
        </tr>
      </tbody>
      <tfooter>
        <tr>
          <td>
              <input type="submit" name="submit" value="Save">
              <input type="button" value="Cancel"
                  class="cancel" onclick="cancelAction()">
          </td>
        </tr>
      </tfooter>
    </table>
  </form>